@font-face {
    font-family: "lcd";
    src: url(../fonts/calc_3.otf);
}
#app {
    font-family: "Spartan", sans-serif;
    font-size: 2rem;
    color: #fff;
}

body {
    background: var(--th1-main-bg);
    padding: 18px 24px 5px;
    transition: all 0.5s ease-in-out;
    background-image: url('../images/bg.jpg');
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 540px;
    padding: 32px;
    border-radius: 20px;
    background: #374161;
    box-shadow: 0 4px #2d3757;
    gap: 20px;
}

.container__screen {
    /* width: 100%; */
    background: #b5b5b5;
    padding: 10px 15px;
    text-align: right;
    border-radius: 0.5rem;
    /* margin: 24px 0; */
    overflow: auto;
    color: #000;
    border-color: #27314f;
    outline: none;
    font-size: 35px;
    font-family: "lcd";
}

.container__buttons {
    display: grid;
    border-radius: 0.5rem;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 14px;
    background: var(--th1-toggle-bg);
    /* padding: 24px; */
}

.button-calc[data-type='operation-second'] {
    background: #dbe6f3;
    box-shadow: 0 5px #a3adbb;
}
.button-calc[data-type='operation'] {
    background: #ffffb2;
    box-shadow: 0 5px #afaf62;
}

.button-calc[data-type='operation']:hover {
    background: #fcfc8f;
}
.button-calc[data-type='reset'] {
    color: #fff;
    background: #f5744b;
    box-shadow: 0 5px #b94e2c;
}
.button-calc[data-type='reset']:hover {
    color: #fff;
    background: #f86437;
}
.button-calc[data-type='operation-second']:hover {
    background: #bcc7d4;
}
.button-calc {
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #424242;
    width: 100%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    box-shadow: 0 5px #a7a1a1;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    user-select: none;
}
.container__calc {
    display: flex;
    align-items: center;
    gap: 14px;
}

.button-calc:hover{
    color: #000;
    background-color: rgb(214, 214, 214);
}
.button-calc.getValue{
    color: #fff;
    background: #6c91f9;
    box-shadow: 0 5px #3f61c3;
}

.equal {
    grid-column: 3 / 5;
    font-size: 1rem;
    color: #fff;
    background: var(--th1-red);
    box-shadow: 0 4px var(--th1-dark-red);
}

.del,
.reset {
    color: #fff;
    background: #f5744b;
    box-shadow: 0 5px #b94e2c;
}

span.journal-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #efefef;
    text-align: center;
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 999;
    color: #000;
}

.journal-container {
    position: fixed;
    height: 100%;
    width: 350px;
    top: 0;
    right: -390px;
    background: #3e3e3e;
    transition: all .3s;
    padding: 16px;
    font-size: 16px;
    overflow-y: auto;
}
.journal-container_open{
    right: 0px;
}
.journal-container h5{text-align: center; font-size: 25px;}
.journal-container p{
    margin: 10px 0;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}
span.mode {
    width: 54px;
    height: 26px;
    background: #dbe6f3;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.mode-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    transition: all .5s ease-in-out;
    background: #6c91f9;
}
.mode-2 .mode-circle{
    transform: translateX(23px);
    background: #f5744b;
}
.change-mode__title.mode-1 {
    color: #6c91f9;
}
.mode-2 .change-mode__title.mode-2 {
    color: #f5744b;
}
.mode-2 .change-mode__title.mode-1 {
    color: #c0c0c0;
}
.change-mode {
    display: flex;
    align-items: center;
    width: 600px;
    gap: 10px;
}

.change-mode__title {
    font-size: 20px;
    transition: all .5s ease-in-out;
    color: #c0c0c0;
}
.modal{
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 0.25rem;
    font-size: 16px;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: 400px;
    visibility: hidden;
}
.modal_error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.modal_warring{
    background-color: #f2efde;
    border-color: #ebdfcc;
    color: #a96442;
}
.modal_open{
    visibility:visible;
}