@font-face {
    font-family: "lcd";
    src: url(../fonts/calc_3.otf);
}
#app {
    font-size: 2rem;
    color: #fff;
}

body {
    padding: 18px 24px 5px;
    background-image: url('../images/bg.png');
    margin: 0;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
    padding: 32px;
    border-radius: 20px;
    background: #323232;
    /* box-shadow: 0 4px #3c3c3c; */
    gap: 20px;
}

.container__screen {
    background: #ffffff;
    padding: 10px 15px;
    text-align: right;
    border-radius: 0.5rem;
    overflow: auto;
    color: #000000;
    font-size: 28px;
    font-family: "lcd";
    border: none;
}
.calc-screen__show-res{
    width: 100%;
    height: 18px;
    font-family: 'lcd';
    font-size: 12px;
}

.container__screen input {
    border: none;
    font-family: "lcd";
    font-size: 28px;
    outline: none;
}
.calc-screen__enter {
    display: flex;
    gap: 8px;
}
.calc_screen__show_mode {
    font-size: 10px;
    text-align: left;
    color: #818181;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
input.calc-screen__main-input {
    width: 85%;
}

input.calc-screen__exp-input {
    width: 15%;
}
span.calc-screen__exp-status, input.calc-screen__exp-input {
    color: #9d9d9d;
}
span.calc-screen__exp-status.active, input.calc-screen__exp-input.active  {
    color: #000;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}

.container__buttons {
    display: grid;
    border-radius: 0.5rem;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 14px;
}


.button-calc[data-type='operation'] {
    color: #fcfc5a;
}
.button-calc[data-type='main'] {
    background: #fcfc5a;
    color: #323232;
}
.button-calc[data-type='reset'] {
    color: #f5744b;
    background: #383838;
} 

.button-calc[data-type='main']:hover {
    background: #ffffa6;
    color: #323232;
}

.button-calc {
    padding: 7px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    width: 100%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    /* box-shadow: 0 5px #a7a1a1; */
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    user-select: none;
    background: #383838;
}
.container__calc {
    display: flex;
    align-items: center;
    gap: 14px;
}

.button-calc:hover{
    background-color: #414141;
}


.equal {
    grid-column: 3 / 5;
    font-size: 1rem;
    color: #fff;
}

.del,
.reset {
    color: #fff;
    background: #f5744b;
    box-shadow: 0 5px #b94e2c;
}

span.journal-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #efefef;
    text-align: center;
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 999;
    color: #000;
}

.journal-container {
    position: fixed;
    height: 100%;
    width: 350px;
    top: 0;
    right: -390px;
    background: #3e3e3e;
    transition: all .3s;
    padding: 16px;
    font-size: 16px;
    overflow-y: auto;
}
.journal-container_open{
    right: 0px;
}
.journal-container h5{text-align: center; font-size: 25px;}
.journal-container p{
    margin: 10px 0;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}